.et-wrapper {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans', Arial, sans-serif;
  padding: 10px;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 0px 3px #aaaaaa;

  &.et-success-old {
    background-color: #F1E8BD;
    color: #666666;
  }
  &.et-success {
    background: #F1E8BD;
    color: #666666;
  }
  &.et-error {
    background-color: #CE5F5F;
    color: #FFFFFF;
  }
  &.et-info {
    background-color: #F1E8BD;
    color: #666666;
  }
  &.et-bottom {
    top: auto;
    bottom: 10px;
  }
}
