#emailCanvas{
  .st-edit-text{
    a{
      &:hover,
      &:focus{
        color: #00a4e4!important;
      }
    }   
  }
  .default-image-error{
    height: 100%;
    display: block;
    background: #f9a9a9;
    img{
        opacity: 0.7;
    }
  }
}