/vendor
/node_modules
/public/css
/public/js
/public/images/campaigns
/public/build
/resources/assets/bower/
/tmp/
/public/tmp/
/public/vendor/
/bower_components
/bootstrap/cache/
composer.lock
npm-debug.log
.buildpath
.env
.project
.settings
.DS_Store
.idea
.gitattributes
.vscode
composer.phar
/storage/data
docker-compose.yaml
.coverdata
.nyc_output
.coverrun
package-lock.json
coverage
