#master-button-editor{
	.master-button{
		color: #ffffff;
		font-size: 12px;
		line-height: 16px;
		display: inline-block;
		padding: 12px 20px;
		background-color: #CD040B;

		img{
			margin: 0 0 0 12px;
		}
	}

	.spinner-small{
		margin: 10px 10px 0 0;
	}
}