$stui-color-secondary: #78dcd6;
$stui-color-grey: #cdcdcd;
$stui-input-border-color: #bbbbbb;
$stui-input-background: #ffffff;
$stui-input-control-background: #F8f8f8;
$stui-label-color: #333;
$stui-disabled-color: #c0c4cc;
$stui-disabled-border-color: #e4e7ed;
$stui-disabled-background: #f5f7fa;
