#proof{
	padding: 0px;
    margin: -3px -5px;

    .module-toolbar{
    	display: none;
    }

    .proof-top-bar{
        background-color: #FFFFFF;
	    height: 50px;
	    padding: 7px 0;
	    border-bottom: 1px solid #DDDDDD;

	    .switch {
	        position: relative;
	        height: 29px;
	        width: 100px;
	        background: @stensul-white;
	        border-radius: 3px;
	        margin: 0 auto;
	        border: 1px solid #DFDFDF;
	        margin-top: 4px;
	    }

	    .switch-label {
	        position: relative;
	        z-index: 2;
	        float: left;
	        width: 49px;
	        line-height: 21px;
	        font-size: 16px;
	        color: @stensul-purple;
	        text-align: center;
	        cursor: pointer;
	        margin: 0 !important;

	        i {
	        	display: inline-block;
	        	vertical-align: sub;
	        }
	    }

	    .switch-label:active {
	        font-weight: bold;
	    }

	    .switch-label-off {
	        padding-left: 2px;
	    }

	    .switch-label-on {
	        padding-right: 2px;
	    }

	    .switch-input {
	        display: none;
	    }

	    .switch-input:checked + .switch-label {
	        font-weight: bold;
	        color: #fff;
	        -webkit-transition: 0.15s ease-out;
	        -moz-transition: 0.15s ease-out;
	        -o-transition: 0.15s ease-out;
	        transition: 0.15s ease-out;
	    }

	    .switch-input:checked + .switch-label-on ~ .switch-selection {
	        left: 50px;
	    }

	    .switch-selection {
	        display: block;
	        position: absolute;
	        z-index: 1;
	        top: 2px;
	        left: 2px;
	        width: 46px;
	        height: 23px;
	        border-radius: 2px;
	        background: @stensul-purple;
	        -webkit-transition: left 0.15s ease-out;
	        -moz-transition: left 0.15s ease-out;
	        -o-transition: left 0.15s ease-out;
	        transition: left 0.15s ease-out;
	    }
    }

	aside{
		background: none;
		width: 300px!important;
		font-weight: 300;
		padding-top: 20px!important;

		text-area{
			border-radius: 2px;
			padding: 7px;
			color: @stensul-gray;
			font-weight: 300;
			background: @stensul-white;
		}
	}

	.beta-btn-secondary{
		.glyphicon{
		    line-height: 19px;
		    font-size: 12px;
		    margin-right: 2px;
		}
	}
}
