.ui-autocomplete{
	z-index: @zindex-autocomplete;

	.ui-state-focus{
		font-weight: normal;
		color: darken(@brand-secondary, 15%);
		border: 1px solid @brand-secondary;
		background: lighten(@brand-primary, 20%);
	}

	.ui-menu-item{
		font-size: 14px;
	}
}