.dashboard-campaign-preview {
  .modal-dialog, .modal-sm {
    width: 750px;
    height: 550px;
    overflow: scroll;

    textarea {
      width: 100%;
      height: 500px;
      border: 1px solid #ccc;
      font-family: monospace, serif;
    }
    .btn-copy {
      height: 34px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .btn-send {
      height: 36px;
    }
    #send-preview-to {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #666666;
      box-shadow: none;
      border-radius: 2px;
      height: 36px;
      width: 636px;

      &:focus {
        border: 1px solid #DDDDDD;
      }
    }

    p.info {
      font-weight: 300;
      color: #999999;
      font-size: 11px;
      margin-top: 5px;
    }
    label.info {
      margin-left: 4px;
    }
    .preview-body {
      margin: 0 0 15px 0;
      background-color: #F4F4F4;

      .iframe-container {
        text-align: center;
      }
    }
  }
}