@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400');

.modal-mpf-content-data {

  .box-sizing(border-box);
  position: relative;
  padding: 15px;
  margin: 0 auto;
  max-width: 690px;
  background-color: @modal-mfp-bg-color;
  border-radius: 10px;

  h1 {
    font-size: 18px;
    color: #000000;
    margin: 0 0 15px 0;
  }

  .section-box {
    .section-title {
      border-bottom: 1px solid @nav-tabs-border-color;
      margin: 0 0 10px;

      h2 {
        color: @font-default-color;
        font-size: 14px;
      }
    }
  }

  .modal-two-column {
    .clearfix();

    .modal-mpf-row {
      .pull-left();
      width: 49%;

      &:nth-child(even) {
        .pull-right();
      }
    }
  }

  .modal-three-column {
    .clearfix();

    .modal-mpf-row {
      width: 32%;
      margin-right: 2%;
      .pull-left();

      &:last-of-type {
        .pull-right();
        margin-right: 0;
      }
    }
  }

  .simplecolorpicker.inline {
    padding: 5px 0 0 5px;

    span.color {
      width: 180px;
      height: 28px;
      border: 2px solid #eaeaea;
      outline: none;

      &:hover,
      &[data-selected],
      &[data-selected]:hover {
        border: 2px solid lightblue;
      }
      span {
        .box-sizing(border-box);
        display: inline-block;
        width: 50%;
        font-size: 10px;
        padding: 0 5px;
        margin: 0;
        &:last-child {
          text-align: right;
        }
      }
    }
  }

  .spacer-size-list {
    margin-left: 5px;
    .spacer-size {
      border: 2px solid #eaeaea;
      padding: 5px;
      font-size: 12px;
      cursor: pointer;

      &[data-selected] {
        border: 2px solid lightblue;
      }
    }
  }

  .modal-mpf-row {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 7px;
    }
    .group-remove {
      cursor: pointer;
      float: left;
      margin-top: 9px;
      padding-right: 7px;
    }
    #modules-container .bootstrap-select.form-control {
      width: 93%;
    }
  }

  .modal-mpf-submit {
    .clearfix();
  }
}

#modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: table;
  transition: opacity .3s ease;

  .modal-content {
    border-radius: 0px;
    padding: 15px;

    .modal-footer {
      border-top: 1px solid @stensul-gray-secondary;
      padding: 15px 0px 0px 0px;
    }

    .modal-body {
      padding: 10px 0px 15px;
      font-weight: 300;
      font-family: 'Open Sans', Arial, sans-serif;
      color: @input-color;
    }

  }
}

.delete-modal {
  .modal-header {
    display: none;
  }
}

.modal,
.modal-mask {
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Open Sans', Arial, sans-serif !important;

  .close {
    float: right;
    font-size: 21px !important;
    font-weight: 700 !important;
    line-height: 1;
    color: #000 !important;
    text-shadow: 0 1px 0 @stensul-white;
    opacity: .2;
    filter: alpha(opacity=20);
    width: auto !important;
    height: auto !important;
    background: none !important;
    border: none !important;
    margin-top: -18px;
    margin-right: -15px;
  }

  h4,
  h3 {
    font-size: 20px;
    font-weight: 300;
    color: @stensul-gray;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 7px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  .modal-container {
    padding: 25px;

    .share-preview {
      .input-group {
        margin-top: 6px;
      }

      input[type=text] {
        background: @stensul-white;
        font-weight: 300;
        box-shadow: none;
      }

      label {
        float: left;
        margin-top: 14px;
        margin-right: 5px;
      }
    }

  }

  .modal-body {
    padding: 0px;
  }

  .modal-content {
    box-shadow: none;
    border-radius: 2px;
    padding: 25px;
  }

  .modal-footer {
    padding: 25px 0px 0px 0px;
    border-top: 1px solid @stensul-gray-secondary;
  }
}

#confirm-modal {
  background: rgba(0, 0, 0, 0.8);

  .modal-dialog {
    top: 50px;
  }

  .modal-header {
    display: none;
  }

  .modal-body {
    font-weight: 300;
    color: @stensul-gray;
  }

  .btn-secondary {
    font-size: 13px;
    font-weight: 400;
    color: @input-color;
    padding: 5px 7px;
    border: none;
    background: @btn-default-color;
    border: 1px solid @stensul-gray-secondary;
    transition: all 0.3s linear;

    &:hover {
      background: @btn-default-color !important;
      color: @stensul-gray !important;
      border: 1px solid @stensul-purple !important;
    }
  }

  .btn-primary {
    font-size: 13px;
    font-weight: 400;
    background: @stensul-purple;
    padding: 5px 7px;
    border: none;
    color: @btn-default-color;
    border: 1px solid @stensul-purple;
    transition: all 0.3s linear;

    &:hover {
      background: @stensul-purple !important;
      color: @btn-default-color;
    }
  }
}

.modal-backdrop {
  background: none;
}

#master-image-editor {
  .modal-container {
    overflow: auto;
    width: 1000px!important;

    .controls {
      margin: 0 auto;
      display: table;

      .section-box {
        width: 100% !important;
        padding: 20px;
        color: #666666;
        font-weight: 300;
        font-size: 11px;
        display: inline-table;
        text-align: center;

        label {
          margin-bottom: 12px;
          text-align: center;
        }

        input[type=range] {
          -webkit-appearance: none;
          margin: 10px 0;
          width: 100%;
        }

        input[type=range]:focus {
          outline: none;
        }

        input[type=range]::-webkit-slider-runnable-track {
          width: 100%;
          height: 5px;
          cursor: pointer;
          background: #f4f4f4;
          border-radius: 25px;
          border: 1px solid #e9e9e9;
        }

        input[type=range]::-webkit-slider-thumb {
          border: 1px solid e9e9e9;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: #78dcd6;
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -6px;
        }

        input[type=range]:focus::-webkit-slider-runnable-track {
          background: #efefef;
        }

        input[type=range]::-moz-range-track {
          width: 100%;
          height: 5px;
          cursor: pointer;
          background: #f4f4f4;
          border-radius: 25px;
          border: 1px solid #e9e9e9;;
        }

        input[type=range]::-moz-range-thumb {
          border: 1px solid e9e9e9;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: #78dcd6;
          cursor: pointer;
        }

        input[type=range]::-ms-track {
          width: 100%;
          height: 5px;
          cursor: pointer;
          background: #f4f4f4;
          border-radius: 50%;
          border: 1px solid #e9e9e9;
        }

        input[type=range]::-ms-fill-lower {
          background: #f4f4f4;
          border: 1px solid #e9e9e9;
          border-radius: 2px;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }

        input[type=range]::-ms-fill-upper {
          background: #f4f4f4;
          border: 1px solid #e9e9e9;
          border-radius: 50px;
          box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
        }

        input[type=range]::-ms-thumb {
          border: 1px solid e9e9e9;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          background: #78dcd6;
          cursor: pointer;
        }

        input[type=range]:focus::-ms-fill-lower {
          background: #efefef;
        }

        input[type=range]:focus::-ms-fill-upper {
          background: #efefef;
        }
      }

      label.logo-alignment {
        font-weight: 300 !important;
        width: auto;
        margin-right: 20px;
        margin-left: 20px;
      }

      label.custom-radio {
        width: 50px;
        float: left;

        span.custom-control-description {
          text-transform: capitalize;
          margin-left: 2px;
        }
      }
    }
  }

  .modal-footer{
    width: 100%;
    margin-top: 30px;
  }

  .modal-body{
    max-height: 473px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    margin-top: 0px;
  }

  .modal-header {
    margin: 0px;
    padding: 0px;
    position: relative;
  }
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
  padding-top: 50px!important;

  .modal-container {
    background-color: @stensul-white;
    border-radius: 0;
    box-shadow: none;
    transition: all .3s ease;
    position: relative;
  }
}

.modal-confirm {
  .modal-content {
    border-radius: 0px;
    padding: 15px;

    .modal-footer{
      border-top: 1px solid @stensul-gray-secondary;
      padding: 25px 0px 0px 0px;
    }

    .modal-body{
      padding: 10px 0px 15px;
      font-weight: 300;
      font-family: 'Open Sans', Arial, sans-serif;
    }
  }
}

.modal-proof {
  .modal-container {
    width: 750px;

    textarea {
      width: 100%;
      height: 500px;
      border: 1px solid #ccc;
      font-family: monospace, serif;
    }

    .new-proof-checkbox{
      padding-bottom: 30px;

      label{
        padding-left: 0px;

        label{
          padding-left: 0px;
          color: #666666;
        }
      }
    }
  }

  .btn-reviewer-add {
    margin-top: 0px;
  }

  #modal-proof-message {
    textarea {
      height: 200px;
    }
  }

  .modal-divider{
    width: 100%;
    border-top: 1px solid @stensul-gray-secondary;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .table tbody tr:last-child td{
    border-bottom: none;
  }

  .bootstrap-select .dropdown-toggle:focus{
    outline: none;
  }
}

.modal-preview {
  .modal-footer {
    margin-top: 30px;
    position: absolute;
    width: 1110px;
    bottom: 25px;
  }

  .modal-container {
    width: 1160px!important;
    height: 80vh;
    min-height: 450px;
    overflow: auto;
    margin: -20px auto;

    .send-preview {
      margin-top: 10px;
      width: 360px;
      float: left;
      margin-left: 15px;
      margin-right: 15px;
    }

    .share-preview {
      position: absolute;
      bottom: 30px;
      height: 30px;

      label{
        font-weight: 600;
      }

      input{
        position: static;
      }
    }

    textarea {
      width: 100%;
      height: 500px;
      border: 1px solid #ccc;
      font-family: monospace, serif;
    }

    #send-preview-form .input-group {
      width: 100%;
      margin-top: 10px;

      .btn-group {
        padding: 0px;
      }

    }
    .btn-copy {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    #send-preview-to,
    #send-preview-subject,
    #send-preview-preheader {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 300;
      color: #666666;
      box-shadow: none;
      border-radius: 2px;
      height: 36px;

      &:focus {
        border: 1px solid @stensul-gray-secondary;
      }
    }

    p.alert-info{
      font-size: 12px;
      margin-bottom: 10px;
    }

    p.info {
      font-weight: 300;
      color: #999999;
      font-size: 11px;
      margin-top: 5px;
      margin-bottom: 0px;
    }

    label.info {
      margin-left: 4px;
    }
    
    .preview-body {
      margin: 0 15px 15px 15px;
      float: left;
      width: 720px;

      .preview-container {
        padding-top: 0px;
      }
      .iframe-container {
        height: 45vh;
        overflow-y: auto;
        text-align: center;
        background: #F4F4F4;
        padding-top: 10px;
        margin-top: -15px;
        min-height: 215px;
      }
    }
    .preview-body.col-md-12{
      margin: 0 0 15px 0!important;
      width: 100%!important;
    }
    .preview-body.col-md-8{
      padding: 0px!important;
    }

    input.share-preview {
      width: 250px;
    }
  }

  .modal-divider{
    width: 100%;
    border-top: 1px solid @stensul-gray-secondary;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .close{
    &:focus{
      outline: none;
      background: none;
    }
  }
}

.modal-container.modal-templating{
  width: 400px!important;
}

.modal-code{
  .modal-container {
    width: 750px;
    overflow: scroll;
    margin: 0 auto;

    textarea {
      width: 100%;
      height: 40vh;
      border: 1px solid @stensul-gray-secondary;
      font-family: 'Source Code Pro', monospace;
      font-weight: 300;
      border-radius: 2px;
      padding: 10px;
      font-size: 13px;
      color: @font-default-color;
      outline: 0;
    }

    p.info {
      font-weight: 300;
      color: #999999;
      font-size: 11px;
      margin-top: 5px;
    }
    label.info {
      margin-left: 4px;
    }

    .copy-to-clipboard{
      i{
        display: none;
      }
    }
  }

  h4{
    margin: 0;
  }

  .close{
    margin-top: -10px;
    margin-right: -7px;

    &:focus{
      outline: none;
      background: none;
    }
  }
}

.modal-complete {
  width: 900px;

  .copy-to-clipboard{
    float: right;
    z-index: 300;
    cursor: pointer!important;
    position: relative;
  }

  textarea {
    width: 100%;
    height: 40vh;
    border: 1px solid @stensul-gray-secondary;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    border-radius: 2px;
    padding: 10px;
    font-size: 13px;
    color: @font-default-color;
    outline: 0;
  }
  .copy-to-clipboard{
    i{
      display: none;
    }
  }
  .show {
    display: block !important;
    opacity: 1 !important;
  }
  .view-browser{
    display: inline;
  }
}

.modal-esp {
  width: 750px;
  overflow: scroll;

  .modal-container-inner{
    height: 55vh;
    overflow: scroll;
  }

  input[type=text]{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #666666;
    box-shadow: none;
    border-radius: 2px;
    height: 36px;

    &:focus {
      border: 1px solid @stensul-gray-secondary;
    }
  }

  textarea {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    font-family: 'Source Code Pro', monospace;
  }

  .btn-copy {
    height: 34px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .btn-send {
    height: 36px;
  }

  p.info {
    font-weight: 300;
    color: #999999;
    font-size: 11px;
    margin-top: 5px;
  }

  label.info {
    margin-left: 4px;
  }

  .close{
    &:focus{
      outline: none;
      background: none;
    }
  }
}

@media only screen and (max-width : 1200px) {
  .modal-wrapper{
    .modal-container{
      width: 90%!important;

      .modal-container-inner{
        height: auto;
      }

      .modal-footer{
        position: relative;
        width: 100%!important;
        bottom: 0px;
      }

      .preview-body{
        width: 57%;
        margin-right: 0px;
        float: right;
      }

      .send-preview{
        width: 35%
      }

      .row{
        width: 100%;
      }

    }
  }  

  .modal-preview{
    .modal-footer{
        bottom: 13px!important;
    }
  }
}

@media only screen and (max-width : 900px) {
  .modal-wrapper{
    .modal-container{
      width: 95%!important;
      overflow: hidden;
      height: auto;

      .modal-container-inner{
        height: 271px;
        overflow: scroll;
      }

      .send-preview{
        width: 100%;

        .row{
          .col-md-12{
            padding-right: 0px;
          }
        }
      }

      .preview-body{
        width: 100%;
        float: left;

        .iframe-container{
          width: 100%;
          overflow-x: scroll;
          overflow-y: scroll;

          iframe{
            width: 100%;
          }
        }
      }
    }
  }

  .modal-preview{
    .modal-container{
      height: 450px;
      min-height: auto;

      div.share-preview{
        bottom: 37px;
      }

      input.share-preview{
        width: auto;
      }

      .modal-footer{
        bottom: 6px;
      }
    }
  }

}


