table{
	background: transparent;
}
.table{
	background: @dropdown-link-color;
	.border-radius( 5px );
	font-family: 'Open Sans', Arial, serif;

	th, th a{
		color: @dropdown-link-color;
	}

	th a, th a:hover{
		text-decoration: none;
	}

	thead tr th.sortable{
		a{
			width: 100%;

			i{
				margin: 8px 0 0;
			}
		}
	}

	a[data-tooltip]:after {
		content: attr(data-tooltip);
		position: absolute;
		bottom: 130%;
		left: -10%;
		font-size: 12px;
		font-weight: 300;
		background: @stensul-gray;
		padding: 2px 7px;
		color: @stensul-white;
		border-radius: 2px;
		white-space: nowrap;
		opacity: 0;
		transition: all 0.5s ease;
		left: 50%;
    	transform: translateX(-50%);
	}
	a[data-tooltip]:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-top: 10px solid @stensul-gray;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		transition: all 0.5s ease;
		opacity: 0;
		left: 0%;
		bottom: 90%;
		left: 50%;
    	transform: translateX(-50%);
	}
	a[data-tooltip]:hover:after {
		bottom: 120%;
	}
	a[data-tooltip]:hover:before {
		bottom: 95%;
		left: 50%;
	}
	a[data-tooltip]:hover:after,
	a[data-tooltip]:hover:before {
		opacity: 1;
	}

	thead tr th,
	tfoot tr th,
	tbody tr td{
		font-size: 13px;
		line-height: 18px;
		font-weight: 300;
		vertical-align: middle;
		border: none;
		border-bottom: 1px solid #f0f0f0;
		color: @input-color;
		padding: 8px 10px;
	}

	thead tr{
		background: @table-header-bg;

		th{
			height: 40px;
			padding-top: 0;
			padding-bottom: 0;
			background: @stensul-purple;
			border: none;
			color: @dropdown-link-color;

			.glyphicon{
				font-size: 8px;
			}
		}
		th.col-200{
			width: 200px;
		}
		th.col-100{
			width: 100px;
		}
	}

	a.sortable-option{
		i{
			.opacity(0.5);
			top: -2px;
		}

		&.sort-order-asc,
		&.sort-order-desc{
			i{
				.opacity(1);
			}
		}

		&.sort-order-asc{
			i{
				.glyphicon-menu-up();
			}
		}
		&.sort-order-desc{
			i{
				.glyphicon-menu-down();
			}
		}
	}

	td.actions a{
		color: @input-color;
		position: relative;
	}

	a.proof-track-modal{
		margin-right: 3px;
		color: @input-color;

		&:hover{
			color: @input-color;
		}
	}

	.campaign-locking{
		margin-top: 3px;
	}

	.spinner-holder{
		padding: 0px;
		height: 0px;
	}

	.col-200{
		width: 200px;
	}
}
#reviewers-table{
	a{
		margin: 0px 0px 0px 10px;
		color: @stensul-gray;
		font-size: 13px;
	}
}
