.et-wrapper {
  background-color: rgba(48, 45, 55, 0.7);
  border-radius: 5px;
  padding: 10px 30px;
  display: inline-block;
  max-width: 900px !important;
  min-width: 120px;
  color: white;
  z-index: 9999;
  margin: auto;
  text-align: center;

  .et-close {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 0px 5px !important;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  &.et-top {
    top: 20px !important;
    bottom: auto;
    padding: 15px 10px;
  }
}
