aside{
	width: 260px!important;
	min-width: 260px!important;
	vertical-align: top;
	display: block;
	background: @stensul-white;
	font-family: 'Open Sans', Arial, sans-serif;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    float: left;
    border-right: 1px solid #EEEEEE;

    &:last-child{
    	border-left: 1px solid #EEEEEE;
    	border-right: none;
    }

    span.is-danger{
    	font-size: 11px;
    	font-weight: 300;
    	color: @stensul-alert-error;
    }

	.aside-inner{
		height: 100%;
	}

	.menu-campaign{
		padding-bottom: 80px;

		.configuration-mod{
			border-bottom: 7px solid #f4f4f4;
		}
		// single module
		.single{
			margin-bottom: 0px;
			color: @stensul-purple;
		}
		// action type module
		.expand>h2, .add{
			cursor: pointer;
		}
		.expand, .add{
			border-radius: @section-border-radius;
			background-color: @stensul-white;
			h2{
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 300;
				color: #999999;
				.box-sizing(border-box);
				background-color: @stensul-white;
				padding: 15px 10px 13px 10px;
				margin: 0;
				position: relative;
				border-bottom: 1px solid #F4F4F4;
				z-index: 2;
				background: #ffffff;

				span{
					text-overflow: ellipsis;
				    white-space: nowrap;
				    overflow: hidden;
				    width: 170px;
				    display: inline-block;
				    vertical-align: top;
				    pointer-events: none;
				}

				.glyph-inline{
					position: static;
					margin-right: 4px;
					color: @stensul-gray;
				}

				i{
					top: 50%;
					right: 10px;
					font-size: 10px;
					margin: -4px 0 0;
					color: #999999;
					position: absolute;

					@media screen and (min-width: @screen-md-min) {
						right: 10px;
						font-size: 10px;
						margin: -4px 0 0;
						color: #999999;
					}
				}
			}

			h2.selected{
				.glyph-inline{
					.glyphicon-folder-open();
				}

				.glyphicon-menu-down{
					transform: rotate(180deg);
				}
			}

			h2.config-selected{
				.glyphicon-menu-up{
					transform: rotate(180deg);
				}
			}

			.level-1{
				h2{
					text-transform: uppercase;
				}
			}
		}

		.beta-subitem{
			padding: 10px 10px;

			h2{
				background-color: #f4f4f4;
				padding: 12px 10px 11px 10px;
			}
		}

		.beta-subitem-single{
			border: none;
		    border-radius: 2px;
		    margin-bottom: 7px;
		    background: #f4f4f4;

		    .expand{
		    	border: 1px solid #e9e9e9;
		    }

		    .add{
		    	margin-bottom: 0px;
			    border: 1px solid #e9e9e9;
		    }

		    h2{
		    	transition: all 0.3s linear;
		    	border-bottom: none;
		    	color: @stensul-purple;

		    	&:hover{
    				position: relative;
    				z-index: 10;
    				color: @stensul-purple;

    				i{
    					color: @stensul-purple;
    				}
				}
		    }

		    .beta-submodules{
				display: none;
				padding: 7px;
				background: @stensul-white;

				.single{
					transition: all 0.3s linear;
					border: 1px solid #e9e9e9;
					margin-bottom: 7px;

					&:hover{
						border: 1px solid @stensul-purple;
					}

					h2{
						border-bottom: none;
					}
				}
			}

			.beta-submodules-expanded{
				display: block!important;

				h2{
					background-color: #f4f4f4;

					.glyphicon-minus{
						font-size: 7px;
					}
				}
			}
		}

		.single{
			transition: all 0.3s linear;
			border: 1px solid #e9e9e9;
			margin-bottom: 5px;

			&:hover{
				border: 1px solid @stensul-purple;
				box-shadow: 0px 0px 4px #888888;

				h2{
					color: @stensul-purple;

					i{
						color: @stensul-purple;
					}
				}
			}

			h2{
				border-bottom: none;
			}
		}

        // icon expand
        .expand{

        	h2:first-child{
        		&:hover{
        			box-shadow: none;
        		}
        	}

            &>h2>i.glyphicon-menu-down{
                .glyphicon-menu-down();
            }
            &>h2>i.glyphicon-menu-up{
                .glyphicon-menu-up();
            }
        }

	 	// show and hidden sections
		.level-1{
			display: none;
			padding-bottom: 0px;
			background: #ffffff;

			h2{
				background: @stensul-white;
			}

			.add, .expand{
				margin: 0px;
				background: none;

				h2{
					background: #f8f8f8;
					border-bottom: 1px solid #eeeeee;
					transition: all 0.3s linear;

					.glyph-inline{
						position: static;
						margin-right: 4px;
						color: #999999;
						transition: all 0.3s linear;
					}

					&:hover{
						color: #555555;

						.glyph-inline{
							color: #555555;
						}
					}
				}

				.single h2{
					padding-left: 20px;
				}

			}
			.expand{
				background-color: @menu-container-sub-section-background-color;
			}
			&.open-section-campaign{
				display: block;
				border-bottom: 1px solid #f4f4f4;

				.level-2{
					display: none;
					padding-bottom: 10px;
					&.open-section-campaign{
						display: block;
					}
				}
			}
		}

		.configuration-field{
			position: relative;

			label{
				display: inline-block;
			    position: relative;
			    top: 21px;
			    padding: 5px 5px;
			    background: #ffffff;
			    z-index: 2;
			    font-weight: 300;
			    font-size: 11px;
			    margin-left: 5px;
			    text-transform: uppercase;
			    color: #999999;
			}

			input[type=text]{
				width: 100%!important;
			    padding: 9px 7px 6px!important;
			    font-size: 13px!important;
			    font-weight: 300!important;
			    color: @stensul-gray!important;
			    border: 1px solid #dddddd!important;
			    box-sizing: border-box!important;
			    border-radius: 2px!important;
			    outline: 0!important;
			    height: 40px;
			    transition: all 0.3s linear;

			    &:focus{
			    	border: 1px solid @stensul-purple!important;
			    }
			}
		}
		.configuration-nomargin{
			margin-top: -17px!important;
		}
	}

	// Configuration module
	.expand.configuration-mod{
		&>h2{
			background-color: @stensul-white;
			padding: 15px 10px 13px 10px;

			&:hover{
				box-shadow: none;
			}
		}
		form{
			padding: 10px;

			input[type="text"]{
				margin-top: 5px;
				box-shadow: none;
				border: none;
				font-weight: 300;
				color: @stensul-gray;
				font-size: 13px;
				background: @stensul-white;
				width: 100%;
				padding: 7px;
				border: 1px solid #f4f4f4;
			}
		}
	}

	.btn-auto-save{
		top: -2px;
		position: relative;
	}

	.spinner{
		background-image: url("../../images/ajax-loader.gif") !important;
		background-repeat: no-repeat !important;
		background-position: 95% center !important;
		padding-right: 30px !important;
	}

	.configuration-mod{

		.config-box-divider{
			padding: 5px 0 0;
			margin: 5px 0 0;
		}
		#tags-box{
			padding-top: 10px;
		}

		.unlock-campaign-btn,
		.lock-campaign-btn{
			float: right;
			background: none!important;
			color: @stensul-purple!important;
			border: none;
		    width: 24px;
		    height: 20px;
		    margin-top: 3px;
		    line-height: 14px;
		    outline: 0;

			i{
				font-size: 13px;
			}

			&:focus{
				outline: 0;
			}

			&:hover{
				background: none!important;
			}

			&.ajax-loader-small{
				height: 29px;
				background-position: center center !important;
				padding: 0 !important;
				i{
					display: none;
				}
			}
		}
		label.locking{
			margin: 5px 0;
			font-weight: 300;
			font-size: 13px;
			color: @stensul-gray;
		}
	}

	.is-collapsed{
		display: none!important;
	}
}
aside.component-settings-wrapper{
	float: right;
}
