.vc-compact{
	width: 100%!important;
    float: right;
    box-shadow: none!important;
    background-color: @stensul-white!important;
    border-radius: 2px!important;
    border: 1px solid #EEEEEE!important;

    .vc-compact-color-item{
    	margin-right: 4px!important;
    	margin-bottom: 4px!important;
    }
}
.vue-js-switch {
    margin-top: 4px
}
