#admin-sidebar {
    position: fixed;
    top: 0px;
    width: 260px;
    height: 100%;
    background-color: @dropdown-link-color;
    left: 0;
    z-index: 1;
    font-family: 'Open Sans', Arial, sans-serif;

    &.right {
        right: 0;
        left: auto;
    }

    ul {
        color: @input-color;
        list-style: none;
        margin: 0;
        margin-top: 55px;
        padding: 0;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-transform: uppercase;
        font-size: 12px;

        li {
            width: 100%;
            line-height: 3.8em;
            border-bottom: 1px solid #f0f0f0;
            cursor: pointer;
            position: relative;

            .menu-dropdown{
                margin-top: 18px;
                font-size: 10px;
                margin-right: 15px!important;
                cursor: pointer;
                position: absolute;
                right: 5px;
            }

            .glyphicon{
                color: #cccccc;
                margin-right: 4px;
                transition: all 0.3s linear;
            }

            ul{
                margin-top: 0px;
                border-top: 1px solid #f0f0f0;
                display: none;

                li{
                    background: #f8f8f8;
                }

                li:last-child{
                    border-bottom: none;
                }

                a{
                    padding-left: 15px;
                }
            }
        }
        .active {
            background-color: #f5f5f5;
            border-bottom: 1px solid @dropdown-link-color;
        }
    }

    .st-menu-expanded{
        display: block;
    }

    a {
        color: #999999;
        transition: all 0.3s linear;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        font-size: 13px;
        font-weight: 300;

        span {
            padding: 20px;
            font-size: 13px;
            font-weight: 300;
        }

        &:focus,
        &:hover {
            color: #555555;
            text-decoration: none;

            .glyphicon{
                color: #555555;
            }
        }
    }
    
    a.st-active{
        border: none;
        color: #555555;

        .glyphicon{
            color: #555555;
        }
    }
}